@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;400&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: #e7e3e3;
}
.container{
    display: flex;
    flex-direction: column;
}
.boxTitle{
    margin: 10px;
    padding: 15px;
}

.boxTitle > section > .title{
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box > section{
    width: 60%
}
.infoHelp{
    flex-direction: column;
    width: 50%;
}

.box > section > #photo404{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.box > section > #photo404,
.infoHelp > section{
    padding: 15px;
}

.infoHelp > section > .subtitle{
    font-size: 55px;
    color: #2e2d2d;
    overflow: hidden ;
}

.infoHelp > section .description{
    line-height: 30px;
    font-size: 20px;
    color: #636363;
    overflow: hidden ;
    padding: 10px;
}

.infoHelp > section .boton{
    height: 60px;
    width: 210px;
    text-align: center;
    font-size: 16px;
    background-color: #302f2f;
    color: #e7e3e3;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}

.infoHelp > section > .subtitle,
.infoHelp > section .description,
.infoHelp > section .boton{
    margin-top: 40px;
}

.container .box,
.container-footer{
    margin-top: 35px;
}
.container-footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px;
}

.container-footer > .copyrigth{
    font-size: 12px;
}

/* Resposive design */
@media screen and (max-width:  1024px){
    .infoHelp > section > .subtitle{
        font-size: 55px;
    }
    .infoHelp > section .description{
        font-size: 18px;
    }
    .infoHelp > section .boton{
        width: 180px;
        height: 50px;
        font-size: 15px;
    }
    .infoHelp > section > .subtitle,
    .infoHelp > section .description,
    .infoHelp > section .boton{
        margin-top: 20px;
    }
    .container-footer{
        height: 90px;
    }
}

@media screen and (max-width:  769px){
    .container .box{
        flex-direction: column;
    }
    .infoHelp{
        width: 100%;
        text-align: center;
    }
    .container .infoHelp section > .subtitle{
        font-size: 45px;
    }
    .infoHelp > section .description{
        font-size: 15px;
    }
    .box > section > #photo404{
        width: 100%;
        display: block;
        margin: 0 auto;
    }

}